*{
    <!--* UNIVERSAL SELECTOR--> 
    margin: 0px;
    padding: 0px;
}
#container{
    
    width: 1330px;
    border: 2px solid black;
}
    #header{
        background-color: brown;
        padding: 8px 0px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }
    #navi{
        background: orange;
        width: 1330px;
    }
        #navi ul{
            list-style: none;
            
        }
            #navi ul li{
                float: left;
                width: 200px;
                padding: 20px 0px;
                text-align: center;
            }
            #navi ul li:hover{
                background: orchid;
            }
            #navi ul li:hover{
                color:pink;
            }
            #navi a{
                color: black;
            }
    #mid{}
        #left{
          
            width: 800px;
            height: 600px;
            float: left;
            }
            .post {
              
               
                height: 150px;

                }
                .title {
                    background: lightgray;
                    padding: 10px 10px;
                    font-size: 20px;
                    font-weight: bold; 
                    color: blue;
                    text-align: center;
                }
                .discription {
                    background: #f1f1f1;
                    padding: 10px;
                }
                a {
                    color: black;
                    font-weight: bold;
                    font-size: 20px;
                }
                a:hover {
                    color: navy;
                }

        #right{
           
            width: 450px;
            height: 600px;
            float: left;
            padding: 10px;
        }
            #search {
                background: silver;
                font-size : 20px;
                text-align: center;
                padding: 10px;
            }
                input[type="text"] {
                    width: 250px;
                    height: 30px;
                    margin: 10px;
                }
                button[type="search"]{
                    width: 100px;
                    padding: 5px;
                    background: pink;
                    color: darkmagenta;
                }
                button[type="search"]:hover {
                    background: lightseagreen;
                    
                }
            #right h2 {
                text-align: center;
                color: chocolate;
            }
            .latest {
                background: #f1f1f1;
                padding: 20px 0px;
                color: blue;
                text-align: center;
                margin: 10px 0px;
            }
            #group {
                text-align: center;
                padding: 10px 0px;
                
            }
    #footter{
        background-color: bisque;
        width: 1330px;
        height: 100px;
    }
        #lft { 
            text-align: left;
            padding: 10px;
            font-size: 25px;

        }
        #rgt {
            text-align: right;
            font-size: 25px;
        

        }
